@(
  site: Site[PlacesView],
  visitStatus: domain.models.VisitStatus
)(
  implicit request: RequestHeader,
  messagesProvider: MessagesProvider
)

@title = @{
  visitStatus match {
    case domain.models.VisitStatus.Saved => "My Saved Places"
    case domain.models.VisitStatus.Visited => "My Visited Places"
    case domain.models.VisitStatus.Hidden => "My Hidden Places"
  }
}

@main(title) {
@_header(Some(site.headerNav))
<section class="section">
  <div class="container">
    <h1 class="title">
      @title
    </h1>

    <section class="section">
      <div class="container">
        @if(site.model.places.isEmpty) {
        <h2 class="subtitle">
          Looks like you don't have any @visitStatus.text places
        </h2>
        } else {
        @_places_list(site.model)
        }
      </div>
    </section>
  </div>
</section>
}
