@import helper._
@import domain.models.PlaceType
@(
    site: Site[PlacesView],
    query: Option[String]
)(
    implicit request: RequestHeader,
    messagesProvider: MessagesProvider
)

@main("Search") {
@_header(Some(site.headerNav))
<section data-require-location="true" class="section">
    <div class="container">
        <nav class="level">
            <div class="level-left">
                <div class="level-item">
                    <h2 class="title">Search for a place</h2>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <div class="field has-addons">
                        <p class="control">
                            <div class="select is-small">
                                <select id="search-radius">
                                    <option value="100" @site.preferences.selectedIfRadiusBetween(0, 100)>100 feet</option>
                                    <option value="500" @site.preferences.selectedIfRadiusBetween(101, 500)>500 feet</option>
                                    <option value="1000" @site.preferences.selectedIfRadiusBetween(501, 1000)>1000 feet</option>
                                    <option value="5280" @site.preferences.selectedIfRadiusBetween(1001, 5280)>1 mile</option>
                                </select>
                            </div>
                        </p>
                        <p class="control">
                            <input type="text" id="query" class="input is-small" value="@query">
                        </p>
                        <p class="control">
                            <button id="search-text" class="button is-small">
                                Search
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </nav>


        <section class="section">
            <div class="container">
                @if(site.model.places.isEmpty) {
                <h2 class="subtitle">
                    No places were found.  Try increasing your search distance or entering a different search query.
                </h2>
                } else {
                @_places_list(site.model)
                }
            </div>
        </section>
    </div>
</section>
}

